@import './normalize.css';

:global{

.talignc, .center {
	text-align: center;
}

.width100 {
	width: 100%;
}

.w100vw {
	width: 100vw;
}

.height100 {
	height: 100%;
}

.visibilityh {
	visibility: hidden;
}

.hide {
	display: none !important;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.flex {
	display: flex;
}

.flex1 {
	flex: 1 1 auto;
}

.flexr {
	flex-direction: row;
}

.flexc {
	flex-direction: column;
}

.alignc {
	align-items: center;
}

.alignS {
	align-items: stretch;
}

.alignsc {
	align-self: center;
}

.justc {
	justify-content: center;
}

.justsb {
	justify-content: space-between;
}

.justsa {
	justify-content: space-around;
}

.justfe {
	justify-content: flex-end;
}

.flexs0{
	flex-shrink: 0;
}

.flexwrap {
	flex-wrap: wrap;
}

.overflow-auto{
	overflow: auto;
}

.overflow-yauto{
	overflow-y: auto;
}

.overflow-h{
	overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

/* COLORS */
.white{ color: #fff;}
.bg-white{ background-color: #fff;}
.grey{color: #acacac;}
.bg-grey{background-color: #acacac;}
.yellow{ color: #fef200; }
.bg-yellow { background-color: rgba(254, 242, 0, 1)}
.purple1{ color: #653a90;}
.bg-purple1 {background-color: #653a90;}
.purple2 { color: #842c56;}
.bg-purple2 {background-color: #842c56;}
.green { color: #30744d;}
.bg-green {background-color: #30744d;}
.black{color: #000;}

.pointer {
	cursor: pointer;
}

.zi0 {z-index:0;}
.zi1 {z-index:1;}

.bg2 {
	background: linear-gradient(rgba(152, 20, 106, 0.6), rgba(117, 26, 134, 0.6)), url(../img/background2.jpg) fixed center no-repeat; 
	background-size: cover;
}

.ff-nunito {
	font-family: 'nunito';
}

.ff-generica {
	font-family: 'generica';
}

.ff-generica-bold {
	font-family: 'generica bold';
}

.fw-thin, .thin { font-weight: 100;}
.fw-bold, .bold { font-weight: 700;}

/* Font Sizes */
.fs-0-75r {
	font-size: 0.75rem;
}

.fs-1r {
	font-size: 1rem;
}

.fs-1-5r {
	font-size: 1.5rem;
}

.fs-2r {
	font-size: 2rem;
}

.pad0{
	padding: 0;
}
.pad1r {
	padding: 1rem;
}

.padt1r{
	padding-top: 1rem;
}

.padr1r{
	padding-right: 1rem;
}

.padb1r{
	padding-bottom: 1rem;
}

.padl1r{
	padding-left: 1rem;
}

.padt0-5r {
	padding-top: 0.5rem;
}

.padr0-5r {
	padding-right: 0.5rem;
}

.padb0-5r {
	padding-bottom: 0.5rem;
}

.padl0-5r {
	padding-left: 0.5rem;
}

.pad0-5r {
	padding: 0.5rem;
}

.mar0{
	margin: 0;
}
.mar1r {
	margin: 1rem;
}

.mart1r{
	margin-top: 1rem;
}

.marr1r{
	margin-right: 1rem;
}

.marb1r{
	margin-bottom: 1rem;
}

.marl1r{
	margin-left: 1rem;
}

.mart0-5r {
	margin-top: 0.5rem;
}

.marr0-5r {
	margin-right: 0.5rem;
}

.marb0-5r {
	margin-bottom: 0.5rem;
}

.marl0-5r {
	margin-left: 0.5rem;
}

.mar0-5r {
	margin: 0.5rem;
}

.bottom1r {
	bottom: 1rem;
}

.top1r {
	top: 1rem;
}

.border-box {
	box-sizing: border-box;
}

.w25r {
	width: 25rem;
}

.minh100{
	/*min-height: 90vh;*/
}

.instruction, .error {
	font-family: nunito;
	max-width: 40rem;
}

.instruction {
	padding: 1rem;
	margin: 1rem 0;
	background: rgba(78, 43, 109, 0.5);
	color: #fff;
}

.error {
	color: #ec2828;
	background: rgba(255, 255, 255, 0.5);
	margin: 0 0 0.5rem 0;
	padding: 0.2rem;
}

input[type="email"], input[type="password"], input[type="text"], select {
	padding:0.5rem 1rem;
	font-size: 1.5rem;
	border: none;
	background: rgba(255, 255, 255, 0.9);
	box-sizing: border-box;
	font-family: inherit;
	width:100%;
}


select {
	text-transform: capitalize;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	 -ms-user-select: none;
		 user-select: none;
 
 -webkit-appearance: none;
	-moz-appearance: radio-container;
		 appearance: none;
}

select {
	color: #b6609d;
}

select * {
	color: #000;
}

.select{
	width:100%;
	position: relative;
}

.select.selected select{
	color: #000;
}


.select:after {
	content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    right: 7px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #b6609d;
}

.select.selected:after {
	border-top-color: #000;
}

.btn {
	border: none;
	padding: 0.5rem 1rem;
	box-shadow: 0 5px 10px #000;
	border-radius: 0.5rem;
	flex-shrink: 0;
	transition: filter 200ms ease;
	letter-spacing: 0.075rem;
}
.btn:hover {
	filter: drop-shadow(0px 0px 5px #000);
}

#app {
	/*min-height: 95vh;*/
	overflow-y: auto;
	/*min-width:calc(100vw - 1rem);*/
}

@media screen and (max-width: 640px) {
	h1 {
		font-size: 3.5rem;
	}

	.w25r {
		width: 20rem;
	}
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 3rem;
	}

	.w25r {
		width: 18rem;
	}
}

@media screen and (max-width: 1150px) {
	#app > div{
		overflow: hidden;
	}

	.bg2 {
		background-size: 200% 100%;
	}
}

}


