<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <link rel="shortcut icon" href="/favicon.ico?<%= Date.now() %>" type="image/x-icon" />
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-LDReP76ZXChrPA46JueY1CSss2pAH6w&sensor=false"></script> 
</head>
<body class="flex flexc">
  <div id='app' class='flex flex1 visibilityh bg2'></div>
</body>
</html>