
.resume h5{
    font-size: 1.25rem;
    font-weight: 100;
}

.resume.hidden{
    display: none;
}

@media screen and (max-width: 1150px) {
    .resume {
        padding-top: 5rem;
    }

    .resume.hidden{
        padding-top: 0;
        display: block;
        visibility: hidden;
    }

    .resume.hidden h5{
        display: none;
    }
}
