.register button {
    padding: 0.5rem 1rem;
    width: 14rem;
}

.register input {
    width: 23rem;
    margin: 0 0 1rem 0;
}

.error {
    color: #ec2828;
    background: rgba(78, 43, 109, 0.5);
    margin: 0 0 0.2rem 0;
    padding: 0.2rem;
}

@media screen and (max-width: 400px) {
    .register input {
        width: 20rem;
    }
}


.register a {
    margin: 0 0 1rem 0;
    font-weight: bold;
    letter-spacing: 0.5px;
}