.type {
    max-width: 50rem;
    width: 100%;
    margin-bottom:1rem;
}

.type ul, .type ul ul{
    margin: 0
}

.type ul li label{
    padding: 0.5rem 1.5rem;
    position: relative;
}

.type ul li label:after{
    content: '+';
    position: absolute;
    right: 1.5rem;
    border-radius: 50%;
    background: #842c56;
    color: #fff;
    width:1rem;
    height: 1rem;
    font-size: 1rem;
    text-align: center;
    padding: 0.25rem;
    display: inline-flex;
    justify-content: center;
    font-weight: bold;
}

.type > ul > li{
    margin: 0.5rem 0;
}

.type > ul{
    /*overflow-y: auto;
    max-height: 33rem;*/
   filter:drop-shadow(2px 2px 5px #000);
}

.type input[type="checkbox"]{
    display: none;
}

.type .content{
    overflow-y: hidden;
    max-height: 0;
    transition: max-height 300ms ease;
}

.content >li a{
    width: 100%;
    text-align: left;
    background: #fff;
    color: #000;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: nunito;
    padding: 0 1.5rem;
}

.type input ~ label{
    background: #232322;
}

.type input ~ label:hover, .type input:checked ~ label{
    background: #842c56;
}

.type input:checked ~ .content{
    transition: max-height 300ms ease;
    transition-delay: 0ms;
    max-height: 10rem;
    padding: 1rem 0;
    background:#fff;
}


.type input:hover ~ label:after, .type input:checked ~ label:after{
    background: #232322;
    color: #842c56;
    width:1rem;
    height: 1rem;
    font-size: 1rem;
    text-align: center;
    padding: 0.25rem;
    transform: rotateZ(45deg);
}

.type input:hover ~ label:after{
    transform: rotateZ(0deg);
}

.type input:checked ~ label:after{
    transform: rotateZ(45deg);
}

.type h4 {
    margin: 1rem 0;
    text-indent: 1rem;
}

.type h4:after{
    content:"";
    position: absolute;
    border-left: 0.5rem solid #842c56;
    width:2rem;
    left:0;
    height: 1.5rem;
    top: 0.1rem;
}

@media screen and (max-width: 1150px) {
	.type {
        padding: 4rem 4rem 0 4rem;
    }
}