.topic{
    font-size: 1.5rem;
    line-height: 2;
}


.topic h3 {
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: .5rem;
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
}

.topic h4 {
    font-weight: 400;
    font-size: 2.5rem;
    padding: 0.5rem 10vw;
}

.topic h5 {
    font-size: 2rem;
}

.topic h5, .topic b {
    font-weight: 400;
}


.topic code {
    background: rgba(255, 255, 255, 0.6);
    padding: .5rem;
    font-weight: 100;
    font-family: nunito;
    font-style: italic;
}

.topic img {
    width:100%;
    max-height: 50vh;
    min-height: 30vw;
    object-fit: cover;
}

.topic p {
    /*padding: 0.5rem 10vw;*/
    text-align: justify;
}

.topic p, .topic h4, .topic h5{
    padding: 0.5rem 10vw;
}

.topic ol, ul{
    margin: 0 2rem;
}

.topic ol li {
    list-style: decimal;
}

.topic ul li {
    list-style: disc;
}

.topic table{
    border-spacing: 0;
}

.topic td{
    padding:0.25rem;
    border: 0px solid;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.topic td:nth-child(1){
    border-left: 1px solid #000;
}

.topic tr:first-child td{
    border-top: 1px solid #000;
}

.topic td:last-child{
    border-bottom: 1px solid #000;
}


@media screen and (max-width: 1150px) {
    .topic p, .topic h4, .topic h5{
        padding: 0.5rem 0;
    }
}