.home .modules {
    padding: 0 6rem 2rem 6rem;
    justify-content: space-evenly;
    align-items: center;
}

.module {
    font-weight: 700;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.6rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding:9vw;
    min-width: 15rem;
    min-height: 15rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    transition: all 200ms ease;
}

.module:hover{
    box-shadow: 0px 0px 1rem #c01166;
}

.module.locked {
    filter: grayscale(100%);
    pointer-events: none;
}

.module.locked:after{
    content: 'LOCKED';
    font-size: .6rem;
    width: 4rem;
    background: #ca3e5a;
    position: absolute;
    left: -14px;
    top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateZ(-45deg);
}

.module.locked:hover{
    box-shadow: none;
}

@media screen and (max-width: 1150px) {
    .home .modules {
        padding: 2rem 9vw;
    }
}