.nav {
    background: #333;
}

.menu .logo {
    padding: 0.5rem 1rem;
}
.menu .logo div{
	background-image: url(../../assets/img/logo.png);
	background-size: cover;
    width:2rem;
    height:2rem;
}

.menu ul li a{
    height: 3rem;
    padding: 1rem;
}

.menu ul li a:hover{
    background-color: #222;
}

