
@font-face
  font-family: 'generica'
  src: url('./generica.otf')
@font-face
  font-family: 'generica bold'
  src: url('./generica-bold.otf')

// *
//   font-family: generica, nunito, roboto, helvetica, arial, lucida, sans-serif

body
  font-family: nunito, roboto, helvetica, arial, lucida, sans-serif



