.leftbar{
    z-index: 1;
    background:rgba(255, 220, 0, 1); 
    overflow-y: auto;
    width: 17rem;
    transition: width 250ms ease;
}


.leftbar h5 {
    margin: 1rem 0;
}

.archetype {
    content: "";
    position: absolute;
    left:15.5rem; 
    top: 0.25rem;
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    align-self: center;
    z-index: 1;
    /*filter: drop-shadow(2px 2px 5px #000);*/

    transform: scale(2) translate(0, 0.5rem);
}

.archetype input {
    width:0;
    height:0;
    opacity: 0;
    filter: drop-shadow(2px 2px 5px #000);
}

.archetype .atypelabel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    width: 100%;
    z-index: 0;
    filter: drop-shadow(2px 2px 5px #000);    
}

.caregiver {
    background-image: url("../../assets/img/archetype/caregiver.png");
}

.creator {
    background-image: url("../../assets/img/archetype/creator.png");
}

.explorer {
    background-image: url("../../assets/img/archetype/explorer.png");
}

.hero {
    background-image: url("../../assets/img/archetype/hero.png");
}

.innocent {
    background-image: url("../../assets/img/archetype/innocent.png");
}

.jester {
    background-image: url("../../assets/img/archetype/jester.png");
}

.lover {
    background-image: url("../../assets/img/archetype/lover.png");
}

.magician {
    background-image: url("../../assets/img/archetype/magician.png");
}

.member {
    background-image: url("../../assets/img/archetype/member.png");
}

.outlaw {
    background-image: url("../../assets/img/archetype/outlaw.png");
}

.ruler {
    background-image: url("../../assets/img/archetype/ruler.png");
}

.sage {
    background-image: url("../../assets/img/archetype/sage.png");
}

.logo{
    background: url("../../assets/img/appicon.svg") 0 0 no-repeat;
    background-size: 100% 100%;
    width: 4.5rem;
    height: 4.5rem;
    align-self: center;
    flex-shrink: 0;
    filter: drop-shadow(2px 2px 5px #000);
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1150px) {
    .archetype {
        left:0.25rem;
        top: 0.25rem;
        transition: transform 300ms ease;
        transform: scale(2) translate(7.75rem, 0.5rem);
    }

    .archetype .atypelabel{    
        cursor: pointer;
        filter: drop-shadow(2px 2px 5px #000);
    }

    .leftbar.collapsed .archetype .atypelabel{
        filter: none;
    }

    .leftbar.collapsed .archetype .atypelabel:hover {
        filter: drop-shadow(2px 2px 5px #000);
    }

    .leftbar.collapsed{
        width: 0;
    }
    .leftbar.collapsed .content{
        opacity: 0;
    }
    .leftbar.collapsed .archetype{
        transform: scale(1) translate(0, 0.5rem);
    }
}
