@-webkit-keyframes lds-ellipsis3 {
    0%, 25% {
      left: 1rem;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    50% {
      left: 1rem;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    75% {
      left: 3.125rem;
    }
    100% {
      left: 5.25rem;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0%, 25% {
      left: 1rem;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    50% {
      left: 1rem;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    75% {
      left: 3.125rem;
    }
    100% {
      left: 5.25rem;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @-webkit-keyframes lds-ellipsis2 {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    25%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    25%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  @-webkit-keyframes lds-ellipsis {
    0% {
      left: 1rem;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    25% {
      left: 1rem;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      left: 3.125rem;
    }
    75% {
      left: 5.25rem;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      left: 5.25rem;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis {
    0% {
      left: 1rem;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    25% {
      left: 1rem;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      left: 3.125rem;
    }
    75% {
      left: 5.25rem;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      left: 5.25rem;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }

  .lds-ellipsis {
    width:6rem;
  }

  .lds-ellipsis > div {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
  }
  .lds-ellipsis div > div {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    animation: lds-ellipsis 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  }
  .lds-ellipsis div:nth-child(1) div {
    animation: lds-ellipsis2 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    background: #ffffff;
  }
  .lds-ellipsis div:nth-child(2) div {
    animation-delay: -0.8s;
    background: #ffffff;
  }
  .lds-ellipsis div:nth-child(3) div {
    animation-delay: -0.4s;
    background: #ffffff;
  }
  .lds-ellipsis div:nth-child(4) div {
    animation-delay: 0s;
    background: #ffffff;
  }
  .lds-ellipsis div:nth-child(5) div {
    animation: lds-ellipsis3 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    background: #ffffff;
  }
